 /* Style The Dropdown Button */
.drop-button {
    background-color: #1E5128;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content-dropped {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.drop-button-dropped {
    background-color: #3e8e41;
}

 .popup-content {
     display: none;
     position: absolute;
     background-color: #f9f9f9;
     color: black;
     min-width: 300px;
     min-height: 300px;
     top:100px;
     left: 100px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
 }

 .popup-content-shown {
     display: block;
 }

 .button-content {
     float: left;
 }

 .dropdown-arrow {
     /* Size */
     height: 16px;
     width: 16px;

     background-color: #fff;
     position: absolute;
 }

 .dropdown-arrow-tl {
     /* Position at the top left corner */
     left: 32px;
     top: 0px;

     /* Border */
     border-left: 1px solid rgba(0, 0, 0, 0.3);
     border-top: 1px solid rgba(0, 0, 0, 0.3);
     transform: translate(50%, -50%) rotate(45deg);
 }
